[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pycryptodome = "*"
pyfaidx = "*"
pysam = "*"
numpy = "*"
deprecated = "*"
matplotlib = "*"
pandas = "*"
seaborn = "*"
matplotlib-venn = "*"
bitarray = "*"
bitstring = "*"

[requires]
python_version = "3.6"
